<div align="center">

    <h1 align="center" style="margin-bottom: 5px; color: navy">Forget Password</h1>

    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>
    </div>

    <table>
        <tr>
            <th align="left">Login Id<span style="color: red">*</span></th>
            <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="Enter Login ID"></td>
            <td><button (click)="submit()">Go</button></td>
            <td style="position: fixed; color: red;">{{form.inputerror.loginId}}</td>
        </tr>
    </table>
</div>

